# macOS system files
.DS_Store

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
handenv/

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Temporary files
*.tmp
